/* © 2017 VARRO ANALYTICS. ALL RIGHTS RESERVED. */
.SunburstChart text {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    text-anchor: middle;
    fill: white;
    pointer-events: none;
}

.SunburstChart .arc {
    cursor: pointer;
}

.SunburstChart .description {
    font-size: 24px;
}