/* © 2017 VARRO ANALYTICS. ALL RIGHTS RESERVED. */
.ExitsTable {
    overflow: hidden;
}

.ExitsTable h4 {
    text-align: center;
}

.ExitsTable table thead {
    background-color: #222222;
}

.ExitsTable table tbody>tr>td,
.ExitsTable table thead>tr>th {
    vertical-align: middle;
    font-size: 13px;
}